.container{
  margin: 0 auto;
  align-items: stretch;
}
.stats-container{
  display: flex;
  width:700px;
  max-height: 250px;
  text-align: center;
  box-sizing: border-box;
  margin: 20px auto;
}
.rating-container{
  width: 1050px;
  text-align: center;
  box-sizing: border-box;
  margin: 50px auto;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
}
.hidden{
  display: none;
}