.container{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (min-width: 840px) {
  .container{
    width: calc(66.6666666667% - 16px);
    padding: 8px;
  }
} 
body {
  margin: 0;
  width: 100%;
  height: 100%;
}